<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CompanyMapper">

	<select id="employeecount" resultType="String">
		SELECT COUNT(*)
		FROM
		employee
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('employee_no')">
				WHERE employee_no like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('employee_rank_code')">
				WHERE employee_rank_code like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('employee_position_code')">
				WHERE employee_position_code like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('employee_type_code')">
				WHERE employee_type_code like CONCAT('%', #{keyword},
				'%')
			</if>
		</if>
	</select>

	<select id="listpage"
		resultType="com.example.demo.domain.employee">
		SELECT *
		FROM employee
		<if
			test="keyword != null and keyword != '' and searchtype.equals('employee_no')">
			WHERE employee_no like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('employee_rank_code') and keyword != null and keyword != '' ">
			WHERE employee_rank_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('employee_position_code') and keyword != null and keyword != '' ">
			WHERE employee_position_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('employee_type_code') and keyword != null and keyword != '' ">
			WHERE employee_type_code like CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY employee_no ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<select id="employeeDetail" parameterType="String"
		resultType="com.example.demo.domain.employee">
		SELECT *
		FROM employee
		WHERE employee_no =
		#{employee_no}
	</select>

	<insert id="employeeInsert"
		parameterType="com.example.demo.domain.employee">
		INSERT INTO employee
		(employee_no
		,employee_rank_code
		,employee_position_code
		,employee_name
		,employee_type_code
		,gender
		,birthday
		,postal_code
		,address_1
		,address_2
		,employee_memo)
		VALUES
		(#{employee_no}
		,#{employee_rank_code}
		,#{employee_position_code}
		,#{employee_name}
		,#{employee_type_code}
		,#{gender}
		,#{birthday}
		,#{postal_code}
		,#{address_1}
		,#{address_2}
		,#{employee_memo})
	</insert>

	<update id="employeeUpdate"
		parameterType="com.example.demo.domain.employee">
		UPDATE employee
		SET
		<if test="employee_no != null">
			employee_no = #{employee_no}
		</if>
		<if
			test="employee_no != null and employee_rank_code != null and employee_position_code != null and employee_type_code != null"> , </if>
		<if test="employee_no != null">
			employee_no = #{employee_no}
		</if>
		<if test="employee_rank_code != null">
			,employee_rank_code = #{employee_rank_code}
		</if>
		<if test="employee_position_code != null">
			,employee_position_code = #{employee_position_code}
		</if>
		<if test="employee_name != null">
			,employee_name = #{employee_name}
		</if>
		<if test="employee_type_code != null">
			,employee_type_code = #{employee_type_code}
		</if>
		<if test="postal_code != null">
			,postal_code = #{postal_code}
		</if>
		<if test="address_1 != null">
			,address_1 = #{address_1}
		</if>
		<if test="address_2 != null">
			,address_2 = #{address_2}
		</if>
		<if test="employee_memo != null">
			,employee_memo = #{employee_memo}
		</if>
		WHERE employee_no = #{employee_no}
	</update>

	<delete id="employeeDelete" parameterType="String">
		DELETE FROM employee
		WHERE employee_no = #{employee_no}
	</delete>

</mapper>