<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CompanyMapper">

	<select id="listsyoucode"
		resultType="com.example.demo.domain.rank_syou">
		SELECT DISTINCT busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name
		FROM rank_syou
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
		AND
		busyo_end =
		''
		OR busyo_end IS NULL
		ORDER BY busyo_dai_code, busyo_cyu_code,
		busyo_syou_code
	</select>

	<select id="listcyucode"
		resultType="com.example.demo.domain.rank_cyu">
		SELECT DISTINCT busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		FROM rank_cyu
		WHERE busyo_dai_code = #{busyo_dai_code}
		AND
		busyo_end = ''
		OR busyo_end IS NULL
		ORDER BY busyo_dai_code, busyo_cyu_code
	</select>

	<select id="listcode"
		resultType="com.example.demo.domain.rank_dai">
		SELECT DISTINCT busyo_dai_code
		,busyo_name
		FROM rank_dai
		WHERE
		busyo_end IS NULL
		OR busyo_end = ''
		ORDER BY busyo_dai_code
	</select>

	<select id="listposition"
		resultType="com.example.demo.domain.position">
		SELECT DISTINCT position_code
		,position_name
		FROM position
		WHERE
		position_end IS NULL
		OR position_end = ''
		ORDER BY position_code
	</select>

	<select id="listtype" resultType="com.example.demo.domain.type">
		SELECT DISTINCT type_code
		,type_name
		FROM type
		WHERE
		type_end IS NULL
		OR type_end = ''
		ORDER BY
		type_code
	</select>

	<select id="employeecount" resultType="int">
		SELECT COUNT(*)
		FROM
		employee
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('employee_no')">
				WHERE employee_no like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('position_code')">
				WHERE position_code like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('employee_name')">
				WHERE employee_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('type_code')">
				WHERE type_code like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('gender')">
				WHERE gender like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('birthday')">
				WHERE birthday like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('postal_code')">
				WHERE postal_code like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('address_1')">
				WHERE address_1 like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('address_2')">
				WHERE address_2 like CONCAT('%', #{keyword},
				'%')
			</if>
		</if>
	</select>

	<select id="listpage"
		resultType="com.example.demo.domain.employee">
		SELECT employee_no
		,busyo_name
		,position_code
		,employee_name
		,type_code
		,gender
		,birthday
		,postal_code
		,address_1
		,address_2
		,employee_memo
		,busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		FROM
		employee
		<if
			test="keyword != null and keyword != '' and searchtype.equals('employee_no')">
			WHERE employee_no like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="keyword != null and keyword != '' and searchtype.equals('busyo_name')">
			WHERE busyo_name like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('rank_code') and keyword != null and keyword != '' ">
			WHERE rank_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('position_code') and keyword != null and keyword != '' ">
			WHERE position_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('employee_name') and keyword != null and keyword != '' ">
			WHERE employee_name like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('type_code') and keyword != null and keyword != '' ">
			WHERE type_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('gender') and keyword != null and keyword != '' ">
			WHERE gender like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('birthday') and keyword != null and keyword != '' ">
			WHERE birthday like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('postal_code') and keyword != null and keyword != '' ">
			WHERE postal_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('address_1') and keyword != null and keyword != '' ">
			WHERE address_1 like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('address_2') and keyword != null and keyword != '' ">
			WHERE address_2 like CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY employee_no, busyo_dai_code, busyo_cyu_code
		ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<select id="employeeDetail"
		resultType="com.example.demo.domain.employee">
		SELECT *
		FROM employee
		WHERE employee_no =
		#{employee_no}
		AND
		busyo_dai_code = #{busyo_dai_code}
		AND busyo_cyu_code =
		#{busyo_cyu_code}
	</select>

	<insert id="employeeInsert"
		parameterType="com.example.demo.domain.employee">
		INSERT INTO employee
		(employee_no
		,position_code
		,employee_name
		,type_code
		,gender
		,birthday
		,postal_code
		,address_1
		,address_2
		,employee_memo
		,busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name)
		VALUES
		(#{employee_no}
		,#{position_code}
		,#{employee_name}
		,#{type_code}
		,#{gender}
		,#{birthday}
		,#{postal_code}
		,#{address_1}
		,#{address_2}
		,#{employee_memo}
		,#{busyo_dai_code}
		,#{busyo_cyu_code}
		,#{busyo_syou_code}
		,#{busyo_name})
	</insert>

	<update id="employeeUpdate"
		parameterType="com.example.demo.domain.employee">
		UPDATE employee
		SET
		<if test="employee_no != null">
			employee_no = #{employee_no}
		</if>
		<if
			test="employee_no != null and busyo_dai_code != null and busyo_cyu_code != null and busyo_syou_code != null and position_code != null and type_code != null and gender != null and birthday != null and employee_name != null and postal_code != null and address_1 != null and address_2 != null and employee_memo != null"></if>
		<if test="employee_no != null">
			employee_no = #{employee_no}
		</if>
		<if test="busyo_dai_code != null">
			,busyo_dai_code = #{busyo_dai_code}
		</if>
		<if test="busyo_cyu_code != null">
			,busyo_cyu_code = #{busyo_cyu_code}
		</if>
		<if test="busyo_syou_code != null">
			,busyo_syou_code = #{busyo_syou_code}
		</if>
		<if test="busyo_name != null">
			,busyo_name = #{busyo_name}
		</if>
		<if test="position_code != null">
			,position_code = #{position_code}
		</if>
		<if test="employee_name != null">
			,employee_name = #{employee_name}
		</if>
		<if test="type_code != null">
			,type_code = #{type_code}
		</if>
		<if test="gender != null">
			,gender = #{gender}
		</if>
		<if test="birthday != null">
			,birthday = #{birthday}
		</if>
		<if test="postal_code != null">
			,postal_code = #{postal_code}
		</if>
		<if test="address_1 != null">
			,address_1 = #{address_1}
		</if>
		<if test="address_2 != null">
			,address_2 = #{address_2}
		</if>
		<if test="employee_memo != null">
			,employee_memo = #{employee_memo}
		</if>
		WHERE employee_no = #{employee_no}
		AND busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
	</update>

	<delete id="employeeDelete">
		DELETE FROM employee
		WHERE employee_no =
		#{employee_no}
		AND busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code
		= #{busyo_cyu_code}
	</delete>

</mapper>