<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PositionMapper">

	<!-- 職責部分 -->

	<select id="Positioncount" resultType="int">
		SELECT COUNT(*)
		FROM
		position
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('position_code')">
				WHERE position_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('position_name')">
				WHERE position_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('position_small_name')">
				WHERE position_small_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('position_start')">
				WHERE position_start like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('position_end')">
				WHERE position_end like CONCAT('%', #{keyword},
				'%')
			</if>
		</if>
	</select>

	<select id="positionpage"
		resultType="com.example.demo.domain.position">
		SELECT position_code
		,position_name
		,position_start
		,position_end
		FROM
		position
		<if test="keyword != null and keyword != ''">
			<if test="searchtype.equals('position_code')">
				WHERE position_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('position_name')">
				WHERE position_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('position_small_name')">
				WHERE position_small_name like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
		ORDER BY
		position_code ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<insert id="PositionInsert"
		parameterType="com.example.demo.domain.position">
		INSERT INTO position
		(position_code
		,position_name
		,position_name_small
		,position_start
		,position_end)
		VALUES
		(#{position_code}
		,#{position_name}
		,#{position_name_small}
		,#{position_start}
		,#{position_end})
	</insert>

	<select id="PositionDetail"
		resultType="com.example.demo.domain.position">
		SELECT position_code
		,position_name
		,position_name_small
		,position_start
		,position_end
		FROM position
		WHERE
		position_code =
		#{position_code}
		AND
		position_start =
		#{position_start}
	</select>

	<update id="PositionUpdate"
		parameterType="com.example.demo.domain.position">
		UPDATE position
		SET
		<if test="position_code != null">
			position_code = #{position_code}
		</if>
		<if
			test="position_code != null and position_name != null and position_name_small != null and position_start != null and position_end != null"></if>
		<if test="position_name != null">
			,position_name = #{position_name}
		</if>
		<if test="position_name_small != null">
			,position_name_small = #{position_name_small}
		</if>
		<if test="position_start != null">
			,position_start = #{position_start}
		</if>
		<if test="position_end != null">
			,position_end = #{position_end}
		</if>
		WHERE position_code = #{position_code}
		AND
		position_start =
		#{position_start}
	</update>

	<delete id="PositionDelete">
		DELETE FROM position
		WHERE position_code =
		#{position_code}
		AND position_start =
		#{position_start}
	</delete>

	<!-- 職責END -->

</mapper>