<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RankMapper">

	<!-- 小分類部分 -->

	<select id="Ranksyoucount" resultType="int">
		SELECT COUNT(*)
		FROM
		rank_syou
	</select>

	<select id="listsyoupage"
		resultType="com.example.demo.domain.rank_syou">
		SELECT busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name
		,busyo_start
		,busyo_end
		FROM rank_syou
		<if test="keyword != null and keyword != ''">
			<if test="searchtype.equals('busyo_dai_code')">
				WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_cyu_code')">
				WHERE busyo_cyu_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_syou_code')">
				WHERE busyo_syou_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_small_name')">
				WHERE busyo_small_name like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
		ORDER BY
		busyo_dai_code, busyo_cyu_code, busyo_syou_code
		ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<select id="listcyucode"
		resultType="com.example.demo.domain.rank_cyu">
		SELECT DISTINCT busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		FROM rank_cyu
		WHERE busyo_start &lt;= DATE_FORMAT(sysdate(), '%Y-%m-%d')
		AND ((busyo_end &gt;= date_format(sysdate(), '%Y-%m-%d') and busyo_end !=
		'')
		or busyo_end = '')
		ORDER BY busyo_dai_code, busyo_cyu_code
	</select>

	<select id="RanksyouDetail"
		resultType="com.example.demo.domain.rank_syou">
		SELECT *
		FROM rank_syou
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
		AND
		busyo_syou_code = #{busyo_syou_code}
		AND
		busyo_start = #{busyo_start}
	</select>

	<update id="RanksyouUpdate"
		parameterType="com.example.demo.domain.rank_syou">
		UPDATE rank_syou
		SET
		<if test="busyo_dai_code != null">
			busyo_dai_code = #{busyo_dai_code}
		</if>
		<if test="busyo_cyu_code != null">
			,busyo_cyu_code = #{busyo_cyu_code}
		</if>
		<if test="busyo_syou_code != null">
			,busyo_syou_code = #{busyo_syou_code}
		</if>
		<if
			test="busyo_dai_code != null and busyo_cyu_code != null and busyo_syou_code != null and busyo_name != null and busyo_name_small != null and busyo_start != null and busyo_end != null"></if>
		<if test="busyo_name != null">
			,busyo_name = #{busyo_name}
		</if>
		<if test="busyo_name_small != null">
			,busyo_name_small = #{busyo_name_small}
		</if>
		<if test="busyo_start != null">
			,busyo_start = #{busyo_start}
		</if>
		<if test="busyo_end != null">
			,busyo_end = #{busyo_end}
		</if>
		WHERE busyo_dai_code = #{busyo_dai_code}
		AND busyo_cyu_code =
		#{busyo_cyu_code}
		AND busyo_syou_code = #{busyo_syou_code}
		AND
		busyo_start = #{busyo_start}
	</update>

	<delete id="RanksyouDelete">
		DELETE FROM rank_syou
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
		AND
		busyo_syou_code = #{busyo_syou_code}
		AND busyo_start = #{busyo_start}
	</delete>

	<insert id="RanksyouInsert"
		parameterType="com.example.demo.domain.rank_syou">
		INSERT INTO rank_syou
		(busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_cyu_code}
		,#{busyo_syou_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>

	<!-- 小分類END -->

	<!-- 中分類部分 -->

	<select id="Rankcyucount" resultType="int">
		SELECT COUNT(*)
		FROM
		rank_cyu
	</select>

	<select id="listcyupage"
		resultType="com.example.demo.domain.rank_cyu">
		SELECT busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		,busyo_start
		,busyo_end
		FROM rank_cyu
		<if test="keyword != null and keyword != ''">
			<if test="searchtype.equals('busyo_dai_code')">
				WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_cyu_code')">
				WHERE busyo_cyu_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_small_name')">
				WHERE busyo_small_name like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
		ORDER BY busyo_dai_code, busyo_cyu_code
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<insert id="RankcyuInsert"
		parameterType="com.example.demo.domain.rank_cyu">
		INSERT INTO rank_cyu
		(busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_cyu_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>

	<select id="listcode"
		resultType="com.example.demo.domain.rank_dai">
		SELECT DISTINCT busyo_dai_code
		,busyo_name
		FROM rank_dai
		WHERE busyo_start &lt;= DATE_FORMAT(sysdate(), '%Y-%m-%d')
		AND ((busyo_end &gt;= date_format(sysdate(), '%Y-%m-%d') and busyo_end !=
		'')
		or busyo_end = '')
		ORDER BY
		busyo_dai_code
	</select>

	<select id="listJH"
		resultType="com.example.demo.domain.rank_dai">
		SELECT DISTINCT busyo_dai_code
		,busyo_start
		FROM rank_dai
		WHERE busyo_dai_code = #{busyo_dai_code}
		AND busyo_start &lt;=
		#{busyo_start}
		AND ((busyo_end &gt;= #{busyo_end} AND busyo_end != '')
		OR busyo_end = '';)
		ORDER BY busyo_dai_code
	</select>

	<select id="RankcyuDetail"
		resultType="com.example.demo.domain.rank_cyu">
		SELECT busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end
		FROM rank_cyu
		WHERE
		busyo_dai_code =
		#{busyo_dai_code}
		AND
		busyo_cyu_code =
		#{busyo_cyu_code}
		AND
		busyo_start =
		#{busyo_start}
	</select>

	<update id="RankcyuUpdate"
		parameterType="com.example.demo.domain.rank_cyu">
		UPDATE rank_cyu
		SET
		<if test="busyo_dai_code != null">
			busyo_dai_code = #{busyo_dai_code}
		</if>
		<if test="busyo_dai_code != null">
			,busyo_cyu_code = #{busyo_cyu_code}
		</if>
		<if
			test="busyo_dai_code != null and busyo_cyu_code != null and busyo_name != null and busyo_name_small != null and busyo_start != null and busyo_end != null"></if>
		<if test="busyo_name != null">
			,busyo_name = #{busyo_name}
		</if>
		<if test="busyo_name_small != null">
			,busyo_name_small = #{busyo_name_small}
		</if>
		<if test="busyo_start != null">
			,busyo_start = #{busyo_start}
		</if>
		<if test="busyo_end != null">
			,busyo_end = #{busyo_end}
		</if>
		WHERE
		busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code =
		#{busyo_cyu_code}
		AND
		busyo_start =
		#{busyo_start}
	</update>

	<delete id="RankcyuDelete">
		DELETE FROM rank_cyu
		WHERE
		busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code =
		#{busyo_cyu_code}
		AND
		busyo_start =
		#{busyo_start}
	</delete>

	<!-- 中分類END -->

	<!-- 大分類部分 -->

	<select id="Rankdaicount" resultType="int">
		SELECT COUNT(*)
		FROM
		rank_dai
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('busyo_dai_code')">
				WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_small_name')">
				WHERE busyo_small_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_start')">
				WHERE busyo_start like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_end')">
				WHERE busyo_end like CONCAT('%', #{keyword},
				'%')
			</if>
		</if>
	</select>

	<select id="listdaipage"
		resultType="com.example.demo.domain.rank_dai">
		SELECT busyo_dai_code
		,busyo_name
		,busyo_start
		,busyo_end
		FROM
		rank_dai
		<if test="keyword != null and keyword != ''">
			<if test="searchtype.equals('busyo_dai_code')">
				WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_small_name')">
				WHERE busyo_small_name like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
		ORDER BY
		busyo_dai_code ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<insert id="RankdaiInsert"
		parameterType="com.example.demo.domain.rank_dai">
		INSERT INTO rank_dai
		(busyo_dai_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>

	<select id="RankdaiDetail"
		resultType="com.example.demo.domain.rank_dai">
		SELECT busyo_dai_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end
		FROM rank_dai
		WHERE
		busyo_dai_code =
		#{busyo_dai_code}
		AND
		busyo_start =
		#{busyo_start}
	</select>

	<update id="RankdaiUpdate"
		parameterType="com.example.demo.domain.rank_dai">
		UPDATE rank_dai
		SET
		<if test="busyo_dai_code != null">
			busyo_dai_code = #{busyo_dai_code}
		</if>
		<if
			test="busyo_dai_code != null and busyo_name != null and busyo_name_small != null and busyo_start != null and busyo_end != null"></if>
		<if test="busyo_name != null">
			,busyo_name = #{busyo_name}
		</if>
		<if test="busyo_name_small != null">
			,busyo_name_small = #{busyo_name_small}
		</if>
		<if test="busyo_start != null">
			,busyo_start = #{busyo_start}
		</if>
		<if test="busyo_end != null">
			,busyo_end = #{busyo_end}
		</if>
		WHERE busyo_dai_code = #{busyo_dai_code}
		AND
		busyo_start =
		#{busyo_start}
	</update>

	<delete id="RankdaiDelete">
		DELETE FROM rank_dai
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_start =
		#{busyo_start}
	</delete>

	<!-- 大分類END -->

</mapper>