<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RankMapper">

	<select id="Rankcount" resultType="int">
		SELECT COUNT(*)
		FROM rank_syou
		<if test="keyword != null and keyword != '' ">
			<if test="searchtype.equals('busyo_dai_code')">
				WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_cyu_code')">
				WHERE busyo_cyu_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_syou_code')">
				WHERE busyo_syou_code like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchtype.equals('busyo_name')">
				WHERE busyo_name like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_name_small')">
				WHERE busyo_name_small like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_start')">
				WHERE busyo_start like CONCAT('%', #{keyword},
				'%')
			</if>
			<if test="searchtype.equals('busyo_end')">
				WHERE busyo_end like CONCAT('%', #{keyword},
				'%')
			</if>
		</if>
	</select>

	<select id="listpage"
		resultType="com.example.demo.domain.rank_syou">
		SELECT busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name
		,busyo_start
		,busyo_end
		FROM rank_syou
		<if
			test="keyword != null and keyword != '' and searchtype.equals('busyo_dai_code')">
			WHERE busyo_dai_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="keyword != null and keyword != '' and searchtype.equals('busyo_cyu_code')">
			WHERE busyo_cyu_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="keyword != null and keyword != '' and searchtype.equals('busyo_syou_code')">
			WHERE busyo_syou_code like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('busyo_name') and keyword != null and keyword != '' ">
			WHERE busyo_name like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('busyo_name_small') and keyword != null and keyword != '' ">
			WHERE busyo_name_small like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('busyo_start') and keyword != null and keyword != '' ">
			WHERE busyo_start like CONCAT('%', #{keyword}, '%')
		</if>
		<if
			test="searchtype.equals('busyo_end') and keyword != null and keyword != '' ">
			WHERE busyo_end like CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY busyo_dai_code, busyo_cyu_code, busyo_syou_code
		ASC
		LIMIT
		#{pagenum},
		#{contentnum}
	</select>

	<select id="RankDetail"
		resultType="com.example.demo.domain.rank_syou">
		SELECT *
		FROM rank_syou
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
		AND
		busyo_syou_code = #{busyo_syou_code}
		AND
		busyo_start = #{busyo_start}
	</select>

	<insert id="RankInsert"
		parameterType="com.example.demo.domain.rank_syou">
		INSERT INTO rank_syou
		(busyo_dai_code
		,busyo_cyu_code
		,busyo_syou_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_cyu_code}
		,#{busyo_syou_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>

	<insert id="RankInsertcyu"
		parameterType="com.example.demo.domain.rank_cyu">
		INSERT INTO rank_cyu
		(busyo_dai_code
		,busyo_cyu_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_cyu_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>
	
	<insert id="RankInsertdai"
		parameterType="com.example.demo.domain.rank_dai">
		INSERT INTO rank_dai
		(busyo_dai_code
		,busyo_name
		,busyo_name_small
		,busyo_start
		,busyo_end)
		VALUES
		(#{busyo_dai_code}
		,#{busyo_name}
		,#{busyo_name_small}
		,#{busyo_start}
		,#{busyo_end})
	</insert>

	<insert id="listdai"
		parameterType="com.example.demo.domain.rank_dai">
		SELECT busyo_dai_code
		,busyo_name
		FROM rank_dai
	</insert>

	<update id="RankUpdate"
		parameterType="com.example.demo.domain.rank_syou">
		UPDATE rank_syou
		SET
		<if
			test="busyo_dai_bunrui != null AND busyo_cyu_bunrui != null AND busyo_syou_bunrui != null">
			busyo_dai_bunrui = #{busyo_dai_bunrui}
			,busyo_cyu_bunrui =
			#{busyo_cyu_bunrui}
			,busyo_syou_bunrui = #{busyo_syou_bunrui}
		</if>
		<if
			test="busyo_dai_bunrui != null AND busyo_cyu_bunrui != null AND busyo_syou_bunrui != null and busyo_name != null and busyo_name_small != null and busyo_start != null and busyo_end != null"> , </if>
		<if test="busyo_name != null">
			,busyo_name = #{busyo_name}
		</if>
		<if test="busyo_name_small != null">
			,busyo_name_small = #{busyo_name_small}
		</if>
		<if test="busyo_start != null">
			,busyo_start = #{busyo_start}
		</if>
		<if test="busyo_end != null">
			,busyo_end = #{busyo_end}
		</if>
		WHERE busyo_dai_code = #{busyo_dai_code}
		AND busyo_cyu_code =
		#{busyo_cyu_code}
		AND busyo_syou_code = #{busyo_syou_code}
		AND
		busyo_start = #{busyo_start}
	</update>

	<delete id="RankDelete">
		DELETE FROM rank_syou
		WHERE busyo_dai_code =
		#{busyo_dai_code}
		AND busyo_cyu_code = #{busyo_cyu_code}
		AND
		busyo_syou_code = #{busyo_syou_code}
		AND busyo_start = #{busyo_start}
	</delete>

</mapper>